<div class='hx:mx-auto hx:flex hextra-max-page-width'>
    <div class="content">
        <table>
            <tr>
                <th colspan="2" style="text-align: left">{{ if .Title }}<h3><a href="{{ .RelPermalink }}">{{ .Title }}</a></h3>{{ end }}</th>
            </tr>
            <tr>
                <td>

                    <a href="{{ .Params.philibert_url }}">
                        <img src="{{ .Params.img_url }}" alt="{{ .Params.img_alt }}">
                    </a>
                </td>
                <td>
                    {{ .Params.small_description }}
                    <ul>
                        <li>{{ .Params.players }}</li>
                        <li>{{ .Params.age }}</li>
                        <li>{{ .Params.duration }}</li>
                    </ul>
                </td>
            </tr>
        </table>
    </div>
</div>
